@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

@theme {
  --color-brand-green: #038E43;
  --color-brand-black: #111111;
  --color-brand-gray: #333333;
  --color-brand-neutral: #FEFAF2;
  --color-brand-white: #FFFFFF;
  --font-sans: 'Inter', sans-serif;
  --font-display: 'Tomato Grotesk', sans-serif;
}

@layer base {
  body {
    @apply bg-brand-neutral text-brand-black antialiased font-sans;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-display text-brand-black font-bold;
  }
}
